
<!DOCTYPE html>
<html>
	<head>
		<title>Social Awareness</title>


        <style>
            body{
                background-color:azure;
            }
         h1{
                text-align: center
            }
            form{
                margin-top: 100px;
                margin-left: 600px;
            }
            </style>
	</head>
	<body>
        <h1 style="color:black; font-weight:bold; font-size:100px; text-transform:capitalize; text-shadow:2px 2px 2px white;"> Signup</h1>
				    <form >
	                 First Name:<br>
	                  <input type="text" name="firstname"><br><br>
                        Last name:<br>
	                  <input type="text" name="lastname"><br><br>
                        Address:<br>
                         <input type="char" name="Username"><br><br>
                         Choose your Password:<br>
	                  <input type="password" placeholder="Enter your password"><br><br>
                        Enter your Password again:<br>
	                  <input type="password" placeholder="Enter your password again"><br><br>
	                  <input type="Submit" name="Signup"><br><br>
                    </form>


	</body>
</html>