{% extends "Socialblog/base.html" %}

{% block title %}
Business Campaign
{% endblock %}

{% block content %}

<html>
	<head>
		<meta name="viewport" content="width=device-width,initial scale=1.0%">
		<link rel="stylesheet" type="text/css" href="styling.css">
        <style>
            body{
        background-color:lightblue;
            }
            h1{
                text-align: center
            }
            p{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 16em

            }

            </style>
        <title></title>
    </head>
	<body>
        <div class="text-center"></div>
        <div class="container">
         <h1 style="color:black; font-weight:bold; font-size:100px; text-transform:capitalize; text-shadow:2px 2px 2px white;"><u>ABOUT US</u> </h1><br><br>
        <p style="font-size:50px;"> Our Social Awareness Website is created for ACS CORP in order to promote small business by helping the owner where they can post a blog or any post for making their small business visible all around the people and raise a social awareness on social issues and to promote small business</p>
        </div>


	</body>
</html>
{% endblock %}

{% block footer %}
{% endblock %}