{% extends "Socialblog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Campaign</legend>
                    {{ form|crispy }} 
                             

            </fieldset>
            
            <div>
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}